## The Battle of the Neighborhoods - Week 2

### Part 2 - Web scrapping of Population and Demographics data of New York city from Wikipedia

#### A : POPULATION DATA

Web scrapping of Population data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

#### Download all the dependencies that is needed.

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors
import matplotlib.pyplot as plt

# conda install -c anaconda beautiful-soup --yes
from bs4 import BeautifulSoup # package for parsing HTML and XML documents

import csv # implements classes to read and write tabular data in CSV form

print('Libraries imported.')

Solving environment: done

# All requested packages already installed.

Libraries imported.

#### Web scrapping of Population data from wikipedia page using BeautifulSoup.

Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

In [2]:
website_url = requests.get('https://en.wikipedia.org/wiki/Demographics_of_New_York_City').text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable sortable'})
#print(soup.prettify())

headers = [header.text for header in table.find_all('th')]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('BON2_POPULATION1.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

#### Load data from CSV

In [16]:
Pop_data=pd.read_csv('BON2_POPULATION1.csv')
Pop_data.drop(Pop_data.columns[[8,9,10,11,12,13,14]], axis=1,inplace=True)
Pop_data.head()

,New York City's five boroughsvte,Jurisdiction,Population,Gross Domestic Product,Land area,Density,Borough,County
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,"30,100\n",42.10\n,109.04\n,"33,867\n"
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,"35,800\n",70.82\n,183.42\n,"36,147\n"
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,"368,500\n",22.83\n,59.13\n,"71,341\n"
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,"41,400\n",108.53\n,281.09\n,"20,767\n"
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,"30,500\n",58.37\n,151.18\n,"8,157\n"

#### Remove whitespaces and rename columns

In [17]:
Pop_data.columns = Pop_data.columns.str.replace(' ', '')
Pop_data.columns = Pop_data.columns.str.replace('\'','')
Pop_data.rename(columns={'Borough':'persons_sq_mi','County':'persons_sq_km'}, inplace=True)
Pop_data

,NewYorkCitysfiveboroughsvte,Jurisdiction,Population,GrossDomesticProduct,Landarea,Density,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,"30,100\n",42.10\n,109.04\n,"33,867\n"
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,"35,800\n",70.82\n,183.42\n,"36,147\n"
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,"368,500\n",22.83\n,59.13\n,"71,341\n"
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,"41,400\n",108.53\n,281.09\n,"20,767\n"
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,"30,500\n",58.37\n,151.18\n,"8,157\n"
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547","10,636\n"
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
Pop_data.rename(columns = {'NewYorkCitysfiveboroughsvte\n' : 'Borough',
                   'Jurisdiction\n':'County',
                   'Population\n':'Estimate_2017', 
                   'Landarea\n':'square_miles',
                    'Density\n':'square_km'}, inplace=True)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx\n,\n Bronx\n,"1,418,207\n",42.695\n,"30,100\n",42.10\n,109.04\n,"33,867\n"
1,Brooklyn\n,\n Kings\n,"2,559,903\n",91.559\n,"35,800\n",70.82\n,183.42\n,"36,147\n"
2,Manhattan\n,\n New York\n,"1,628,706\n",600.244\n,"368,500\n",22.83\n,59.13\n,"71,341\n"
3,Queens\n,\n Queens\n,"2,253,858\n",93.310\n,"41,400\n",108.53\n,281.09\n,"20,767\n"
4,Staten Island\n,\n Richmond\n,"476,143\n",14.514\n,"30,500\n",58.37\n,151.18\n,"8,157\n"
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547","10,636\n"
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,159\n
7,Sources:[14] and see individual borough articl...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Replace newline('\n') from each string from left and right sides

In [19]:
Pop_data['Borough']=Pop_data['Borough'].replace(to_replace='\n', value='', regex=True)
Pop_data['County']=Pop_data['County'].replace(to_replace='\n', value='', regex=True)
Pop_data['Estimate_2017']=Pop_data['Estimate_2017'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_miles']=Pop_data['square_miles'].replace(to_replace='\n', value='', regex=True)
Pop_data['square_km']=Pop_data['square_km'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_mi']=Pop_data['persons_sq_mi'].replace(to_replace='\n', value='', regex=True)
Pop_data['persons_sq_km']=Pop_data['persons_sq_km'].replace(to_replace='\n', value='', regex=True)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207",42.695\n,"30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903",91.559\n,"35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706",600.244\n,"368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858",93.310\n,"41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143",14.514\n,"30,500",58.37,151.18,"8,157"
5,City of New York,"8,336,817",842.343,"101,000",302.64,783.83,"27,547","10,636"
6,State of New York,"19,453,561","1,731.910","89,000","47,214","122,284",412,159
7,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Shift data in the last two rows

In [20]:
Pop_data.loc[5:,['persons_sq_mi','persons_sq_km']] = Pop_data.loc[2:,['persons_sq_mi','persons_sq_km']].shift(1,axis=1)
Pop_data.loc[5:,['square_km','persons_sq_mi']] = Pop_data.loc[2:,['square_km','persons_sq_mi']].shift(1,axis=1)
Pop_data.loc[5:,['square_miles','square_km']] = Pop_data.loc[2:,['square_miles','square_km']].shift(1,axis=1)
Pop_data.loc[5:,['Estimate_2017','square_miles']] = Pop_data.loc[2:,['Estimate_2017','square_miles']].shift(1,axis=1)
Pop_data.loc[5:,['County','Estimate_2017']] = Pop_data.loc[2:,['County','Estimate_2017']].shift(1,axis=1)
Pop_data.loc[5:,['Borough','County']] = Pop_data.loc[2:,['Borough','County']].shift(1,axis=1)
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207",42.695\n,"30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903",91.559\n,"35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706",600.244\n,"368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858",93.310\n,"41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143",14.514\n,"30,500",58.37,151.18,"8,157"
5,NaN,City of New York,"8,336,817","101,000",842.343,302.64,783.83,"27,547"
6,NaN,State of New York,"19,453,561","89,000","1,731.910","47,214","122,284",412
7,NaN,Sources:[14] and see individual borough articles,NaN,NaN,NaN,NaN,NaN,NaN

#### Remove 'NAN'

In [21]:
Pop_data = Pop_data.fillna('')
Pop_data

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207",42.695\n,"30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903",91.559\n,"35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706",600.244\n,"368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858",93.310\n,"41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143",14.514\n,"30,500",58.37,151.18,"8,157"
5,,City of New York,"8,336,817","101,000",842.343,302.64,783.83,"27,547"
6,,State of New York,"19,453,561","89,000","1,731.910","47,214","122,284",412
7,,Sources:[14] and see individual borough articles,,,,,,

#### Drop the last row

In [23]:
i = Pop_data[((Pop_data.County == 'Sources:[14] and see individual borough articles'))].index
Pop_data.drop(i)

,Borough,County,Estimate_2017,GrossDomesticProduct,square_miles,square_km,persons_sq_mi,persons_sq_km
0,The Bronx,Bronx,"1,418,207",42.695\n,"30,100",42.10,109.04,"33,867"
1,Brooklyn,Kings,"2,559,903",91.559\n,"35,800",70.82,183.42,"36,147"
2,Manhattan,New York,"1,628,706",600.244\n,"368,500",22.83,59.13,"71,341"
3,Queens,Queens,"2,253,858",93.310\n,"41,400",108.53,281.09,"20,767"
4,Staten Island,Richmond,"476,143",14.514\n,"30,500",58.37,151.18,"8,157"
5,,City of New York,"8,336,817","101,000",842.343,302.64,783.83,"27,547"
6,,State of New York,"19,453,561","89,000","1,731.910","47,214","122,284",412

#### Save dataframe as csv file

In [24]:
Pop_data.to_csv('BON2_POPULATION.csv',index=False)

#### B : DEMOGRAPHICS DATA

We will web scrap Demographics data from wikipedia page - https://en.wikipedia.org/wiki/New_York_City

#### Web scrapping of Demographics data from wikipedia page using BeautifulSoup.

Beautiful Soup is a Python package for parsing HTML and XML documents (including having malformed markup, i.e. non-closed tags, so named after tag soup). It creates a parse tree for parsed pages that can be used to extract data from HTML, which is useful for web scraping.

In [131]:
website_url = requests.get("https://en.wikipedia.org/wiki/New_York_City").text
soup = BeautifulSoup(website_url,'lxml')
table = soup.find('table',{'class':'wikitable collapsible collapsed'})


headers = [header.text for header in table.tbody.find_all('th',{'class':'Racial composition'})]

table_rows = table.find_all('tr')        
rows = []
for row in table_rows:
   td = row.find_all('td')
   row = [row.text for row in td]
   rows.append(row)

with open('NYC_DEMO.csv', 'w') as f:
   writer = csv.writer(f)
   writer.writerow(headers)
   writer.writerows(row for row in rows if row)

#### Load data from CSV

In [132]:
Demo_data=pd.read_csv('NYC_DEMO.csv')
print('Data downloaded!')

Data downloaded!

In [133]:
Demo_data

              2010 Census[233][234]    NY City    NY State         U.S.\n
0                  Total population  8,175,133  19,378,102  308,745,538\n
1   Population change, 2000 to 2010      +2.1%       +2.1%        +9.7%\n
2  Population density (people/sqmi)   27,012.5       411.2         87.4\n
3    Median household income (2015)    $53,373     $59,269      $53,889\n
4       Bachelor's degree or higher      35.7%       34.2%        29.8%\n
5                      Foreign born      37.2%       22.5%        13.2%\n
6              White (non-Hispanic)      44.0%       65.7%        72.4%\n
7                             Black      25.5%       15.9%        12.6%\n
8               Hispanic (any race)      28.6%       17.6%        16.3%\n
9                             Asian      12.7%        7.3%         4.8%\n

#### Remove whitespaces and rename columns

In [134]:
Demo_data.columns

Index(['2010 Census[233][234]', 'NY City', 'NY State', 'U.S.\n'], dtype='object')

In [135]:
Demo_data.rename(columns = {'2010 Census[233][234]' : '2010 Census',
                   'U.S.\n':'U.S',
                    }, inplace=True)
Demo_data

                        2010 Census    NY City    NY State            U.S
0                  Total population  8,175,133  19,378,102  308,745,538\n
1   Population change, 2000 to 2010      +2.1%       +2.1%        +9.7%\n
2  Population density (people/sqmi)   27,012.5       411.2         87.4\n
3    Median household income (2015)    $53,373     $59,269      $53,889\n
4       Bachelor's degree or higher      35.7%       34.2%        29.8%\n
5                      Foreign born      37.2%       22.5%        13.2%\n
6              White (non-Hispanic)      44.0%       65.7%        72.4%\n
7                             Black      25.5%       15.9%        12.6%\n
8               Hispanic (any race)      28.6%       17.6%        16.3%\n
9                             Asian      12.7%        7.3%         4.8%\n

In [136]:
Demo_data.columns = Demo_data.columns.str.replace(' ', '')

#### Replace newline('\n') from each string from left and right sides

In [137]:
Demo_data= Demo_data.replace('\n',' ', regex=True)
Demo_data

                         2010Census     NYCity     NYState           U.S
0                  Total population  8,175,133  19,378,102  308,745,538
1   Population change, 2000 to 2010      +2.1%       +2.1%        +9.7%
2  Population density (people/sqmi)   27,012.5       411.2         87.4
3    Median household income (2015)    $53,373     $59,269      $53,889
4       Bachelor's degree or higher      35.7%       34.2%        29.8%
5                      Foreign born      37.2%       22.5%        13.2%
6              White (non-Hispanic)      44.0%       65.7%        72.4%
7                             Black      25.5%       15.9%        12.6%
8               Hispanic (any race)      28.6%       17.6%        16.3%
9                             Asian      12.7%        7.3%         4.8%

#### Save dataframe as csv file

In [138]:
Demo_data.to_csv('BON2_DEMOGRAPHICS.csv',index=False)